In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession, Row


conf = SparkConf().setAppName("SparkSQL").set("spark.sql.shuffle.partitions", "5")
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/10/24 13:55:44 WARN Utils: Your hostname, soc-PF40RZ5Z resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/10/24 13:55:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/24 13:55:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# Define the schema using a Row object.
def mapper(line):
    fields = line.split(",")
    return Row(
        customerID=int(fields[0]), productID=int(fields[1]), cost=float(fields[2])
    )


# customerID, productID, Cost
lines = spark.sparkContext.textFile("./ml-32m/customer-orders.csv")
order = lines.map(mapper)

schemaOrder = spark.createDataFrame(order).cache()
schemaOrder.createOrReplaceTempView("order")


teenagers = spark.sql("SELECT * FROM order WHERE customerID == 10")

# for teen in teenagers.collect():
#     print(teen)

schemaOrder.groupBy("customerID").sum("cost").orderBy(
    "sum(cost)", ascending=False
).show()

spark.stop()

In [3]:
# teenagers = spark.sql("SELECT * FROM order WHERE customerID == 10")

# for teen in teenagers.collect():
#     print(teen)

orders_df

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `order` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'Filter ('customerID = 10)
   +- 'UnresolvedRelation [order], [], false

In [16]:
schemaOrder.groupBy("customerID").sum("cost").orderBy(
    "sum(cost)", ascending=False
).show()

+----------+------------------+
|customerID|         sum(cost)|
+----------+------------------+
|        68| 6375.450000000001|
|        73| 6206.200000000001|
|        39| 6193.110000000001|
|        54| 6065.390000000001|
|        71| 5995.660000000002|
|         2|           5994.59|
|        97|5977.1900000000005|
|        46| 5963.109999999999|
|        42| 5696.840000000002|
|        59| 5642.889999999999|
|        41| 5637.620000000001|
|         0| 5524.949999999999|
|         8|           5517.24|
|        85|           5503.43|
|        61|5497.4800000000005|
|        32|           5496.05|
|        58|           5437.73|
|        63|5415.1500000000015|
|        15|           5413.51|
|         6| 5397.879999999999|
+----------+------------------+
only showing top 20 rows

In [17]:
schemaOrder.show()

+----------+---------+-----+
|customerID|productID| cost|
+----------+---------+-----+
|        44|     8602|37.19|
|        35|     5368|65.89|
|         2|     3391|40.64|
|        47|     6694|14.98|
|        29|      680|13.08|
|        91|     8900|24.59|
|        70|     3959|68.68|
|        85|     1733|28.53|
|        53|     9900|83.55|
|        14|     1505| 4.32|
|        51|     3378| 19.8|
|        42|     6926|57.77|
|         2|     4424|55.77|
|        79|     9291|33.17|
|        50|     3901|23.57|
|        20|     6633| 6.49|
|        15|     6148|65.53|
|        44|     8331|99.19|
|         5|     3505|64.18|
|        48|     5539|32.42|
+----------+---------+-----+
only showing top 20 rows